@use '../../styles/tokens.scss' as *;

.onboarding-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-bg-main);
  color: var(--color-text-primary);
}
