@use '../../styles/tokens.scss' as *;

.transactions-page {
  .txn-total-budget {
    @include dashboard-card($radius: $radius-md, $pad: $spacing-4);

    &__dark {
      box-shadow: $dark-shadow-md;
    }

    .spent-header {
      font-weight: 500;
    }

    .txn-budget-row {
      margin-top: $spacing-1;
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    .txn-progress-bar-wrapper {
      margin-top: $spacing-3;
    }
  }

  .no-txns-block {
    margin-top: $spacing-5;
  }

  .filters-row {
    @include themed(background-color, color-neutral-light, $color-neutral-light);
    border-radius: $radius-lg;
    border: 1px solid;
    @include themed(border-color, color-neutral, $color-neutral);
    height: 45px;
    display: flex;
    justify-content: space-between;

    .filter {
      @include themed(color, color-text-primary, $color-text-primary);
      border-radius: $radius-lg;
      padding: 0 $spacing-5;

      &.selected {
        @include themed(background-color, color-bg-card, $color-bg-card);

        &__light {
          box-shadow: $shadow-sm;
        }

        &__dark {
          box-shadow: $dark-shadow-sm;
        }

        span {
          padding-bottom: $spacing-1;
          border-bottom: 3px solid;
          @include themed(border-color, color-primary, $color-primary);
        }
      }
    }
  }

  .search-row {
    display: flex;
    width: 100%;
    gap: $spacing-3;
    justify-content: space-between;
    height: 45px;
    margin-top: $spacing-2;

    .search-input {
      flex: 1;
    }

    .sort-btn {
      border-radius: $radius-lg;
      padding: 0 $spacing-4;
      @include themed(background-color, color-bg-card, $color-bg-card);
      @include themed(color, color-text-primary, $color-text-primary);
      display: flex;
      align-items: center;
      gap: 8px;

      &__light {
        box-shadow: $shadow-sm;
      }

      &__dark {
        box-shadow: $dark-shadow-sm;
      }
    }
  }
}

.txn-list-section {
  .txn-group {
    margin-top: 25px;

    &:first-child {
      margin: 0;
    }

    .txn-date-row {
      display: flex;
      width: 95%;
      justify-content: space-between;
      opacity: 0.6;
      font-size: 12px;
      margin: 0 auto 10px;

      .txn-group-date {
        text-transform: capitalize;
      }
    }
  }

  .txn-group-list {
    @include dashboard-card($radius: $radius-md, $pad: $spacing-4);

    &__dark {
      box-shadow: $dark-shadow-md;
    }

    .txn-line-wrapper:not(:last-child) {
      padding-bottom: $spacing-3;
      margin-bottom: $spacing-3;
      border-bottom: 1px solid;
      border-color: color-mix(in srgb, var(--color-neutral), transparent 0%);
    }
  }
}
