@use '../../styles/global.scss' as *;

$main-container-spacing: 0 30px 0 40px;

.main-layout {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;

  // mobile styling
  @include down(md) {
    display: block;
    // flex-direction: column-reverse;
    min-height: 100dvh; /* dynamic: matches what the user actually sees */
    /* Fallbacks for older browsers */
    min-height: 100svh; /* small viewport height */
    min-height: 100vh; /* last resort */

    /* iOS < 16 fallback */
    height: -webkit-fill-available;

    padding-bottom: calc(56px + env(safe-area-inset-bottom, 0px));
  }

  .main-outlet {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 1100px;

    .page-header {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: $main-container-spacing;

      @include down(md) {
        height: 70px;
      }

      .page-title-container {
        display: inline-flex;
        align-items: center;
        gap: 50px;

        .page-title {
          @include down(md) {
            font-size: 24px;
          }
        }

        .page-header-monthpicker {
          width: 170px;
        }
      }
      .page-user-dropdown {
        @include down(md) {
          display: none;
        }
      }
    }

    .outlet-container {
      flex: 1;
      margin: $main-container-spacing;
      margin-bottom: 30px;
      height: calc(100% - 100px);
      overflow: auto;

      @include down(md) {
        margin: 0 15px;
        margin-bottom: calc(56px + env(safe-area-inset-bottom, 0px));
        position: relative;
      }
    }

    .floater {
      position: absolute;
      bottom: 30px;
      right: 30px;

      @include down(md) {
        bottom: calc(66px + env(safe-area-inset-bottom, 0px));
      }
    }
  }
}
