@use '../../../styles/tokens' as *;

.drawer {
  //   display: none;
  position: fixed;
  inset: 0;
  z-index: 50;
  pointer-events: none;

  .backdrop {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity $transition-normal;

    // &__open {
    //   opacity: 1;
    // }
  }

  .panel {
    position: absolute;
    inset: 0 auto 0 0; /* left side, full height */
    width: 80vw;
    max-width: 320px;
    padding: $spacing-6;
    height: 100%;
    @include themed(background, color-bg-card, $color-bg-card);
    border-top-right-radius: $radius-lg;
    border-bottom-right-radius: $radius-lg;

    // background: #0b0c0f;
    border-right: 1px solid rgba(255, 255, 255, 0.08);

    transform: translateX(-100%);
    transition: transform $transition-normal;

    .logo-row {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    .close-drawer-container {
      display: block;
      margin-top: 100%;
      width: 100%;
      position: relative;

      .close-drawer-btn {
        position: absolute;
        @include themed(background-color, color-secondary, $color-secondary);
        padding: $spacing-1;
        border-radius: 50%;
        right: -50px;
        width: 40px;
        height: 40px;
      }
    }
  }

  &__open {
    pointer-events: auto;

    .backdrop {
      opacity: 1;
    }

    .panel {
      transform: translateX(0);
    }
  }
}
