@use '../../styles/tokens.scss' as *;

.percents-selectors-row {
  @include grid($templateColumns: 1fr 200px, $columnGap: $spacing-5);

  @include mediaDown(md) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .budget-sliders {
    grid-area: 1 / 1 / 2 / 2;

    @include mediaDown(md) {
      grid-area: 2 / 1 / 3 / 2;
    }

    .budget-slider-row {
      display: inline-flex;
      width: 100%;
      gap: 50px;
      align-items: center;

      @include mediaDown(md) {
        width: calc(100% - 15px);
        gap: $spacing-7;
        margin-bottom: $spacing-5;
      }

      .settings-slider {
        flex: 1;
        @include mediaDown(md) {
          margin-bottom: 0;
        }
      }

      .percentage-input {
        width: 50px;
        margin-bottom: 0;
        position: relative;

        &::after {
          content: '%';
          position: absolute;
          top: 9px;
          right: -20px;
        }
      }
    }
  }

  .percentage-donut-container {
    grid-area: 1 / 2 / 2 / 3;

    display: flex;
    align-items: center;
    justify-content: center;

    @include mediaDown(md) {
      grid-area: 1 / 1 / 2 / 2;
    }
  }
}
