@use '../../../styles/tokens' as *;

.dashboard-cards {
  .card-title-row {
    display: inline-flex;
    margin-bottom: $spacing-1;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    @include themed(color, color-text-primary, $color-text-primary);

    .card-title-end {
      display: inline-flex;
      gap: $spacing-3;
      align-items: center;
    }
  }

  .details-container {
    margin-top: $spacing-2;
  }

  .card-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    line-height: 2rem;
  }

  .category-link-container {
    margin-top: $spacing-2;
    padding-top: $spacing-2;
    border-top: 1px solid rgba($color-neutral, 0.7);

    .category-link {
      display: flex;
      gap: $spacing-4;
      @include themed(color, color-primary, $color-primary);
    }
  }
}
