@use './../../styles/tokens.scss' as *;

$sub-color: grey;

.group {
  position: relative;
  margin-bottom: $spacing-4;

  .form-input-row {
    position: relative;
  }

  .form-input {
    background: none;
    @include themed(background-color, color-neutral-light, $color-neutral-light);
    // background-color: white;
    @include themed(color, color-text-primary, $color-text-primary);
    // color: $sub-color;
    font-size: 16px;
    padding: 10px 10px 10px 15px;
    display: block;
    width: 100%;
    border: none;
    border-radius: $radius-sm;
    border: 1px solid;
    @include themed(border-color, color-neutral, $color-neutral);
    height: 45px;

    &:focus {
      outline: none;
    }

    &[type='range'] {
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      height: 6px;
      cursor: pointer;
    }

    /* Thumb (Chrome, Safari, Edge) */
    &[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      @include themed(background, color-secondary, $color-secondary);
      border: 1px solid white;
      box-shadow: $shadow-sm;
      transition:
        transform 0.2s,
        background 0.3s;
    }
  }

  .form-input-prefix {
    position: absolute;
    left: 10px;
    bottom: 6px;
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .input-max-value {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 10px;
    opacity: 0.6;
  }

  .form-input-label {
    font-size: 12px;
    pointer-events: none;
  }

  .field-error {
    font-size: 9px;
    color: $color-error;
  }
}
