@use './../../styles/global.scss' as *;

$sub-color: grey;

.group {
  position: relative;
  margin-bottom: $spacing-4;

  .form-input-row {
    position: relative;
  }

  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 16px;
    padding: 10px 10px 10px 15px;
    display: block;
    width: 100%;
    border: none;
    border-radius: $radius-sm;
    border: 1px solid $color-neutral-medium;
    height: 45px;

    &:focus {
      outline: none;
    }
  }

  .form-input-prefix {
    position: absolute;
    left: 10px;
    bottom: 6px;
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .input-max-value {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 10px;
    opacity: 0.6;
  }

  .form-input-label {
    font-size: 12px;
    pointer-events: none;
  }

  .field-error {
    font-size: 9px;
    color: $color-error;
  }
}
