@use '../../../styles/tokens' as *;

.settings-block {
  .settings-container {
    @include dashboard-card($radius: $radius-lg, $pad: $spacing-4, $bgCol: #f4f5f7);

    &__dark {
      box-shadow: $dark-shadow-md;
    }
  }
}
