@use '../../../styles/tokens' as *;

.main-line {
  @include grid($templateColumns: 1fr 70px, $columnGap: 8px, $rowGap: 8px);
  align-items: center;
  width: 100%;

  .txn-ep-row {
    display: inline-flex;
    align-items: center;
    width: 270px;

    .date-box {
      width: 35px;
      margin-right: 12px;
      text-align: center;
      font-size: 12px;
    }

    .ep-type-badge {
      margin-left: auto;
      padding: 5px 10px;
      font-size: 11px;
      border-radius: $radius-sm;
      height: $spacing-6;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      &__needs {
        background-color: color-mix(in srgb, var(--needs), transparent 70%);
      }

      &__wants {
        background-color: color-mix(in srgb, var(--wants), transparent 70%);
      }

      &__savings {
        background-color: color-mix(in srgb, var(--savings), transparent 70%);
      }
    }
  }

  .amount {
    text-align: right;
    font-weight: 700;
    font-size: 14px;
  }
}
