@import "../../styles/variables";

.home-page {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: $primary-color;
    }

    .logo {
        display: block;
        margin: 0 auto;
        height: 100px;
    }

    p {
        color: white;
    }
}