@use './../../styles/tokens.scss' as *;

.login-page {
  .logo-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }

  .login-container {
    width: 400px;
    padding: 20px;
    margin: 100px auto;
    height: 300px;
    @include themed(background-color, color-bg-card, $color-bg-card);
    border-radius: $radius-md;

    &__light {
      box-shadow: $shadow-md;
    }

    &__dark {
      box-shadow: $dark-shadow-md;
    }

    .login-btn-container {
      display: flex;

      .login-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: $spacing-4;
        margin: 80px auto;
      }
    }
  }
}
