@use '../../styles/tokens' as *;

.progress-bar {
  height: 10px;
  background: #eee;
  @include themed(background, color-bg-main, $color-bg-main);
  border-radius: 999px;
  margin-top: 12px;

  .progress-bar-progress {
    height: 100%;
    border-radius: 999px;
    transition: width 200ms ease;
  }
}
