@use '../../styles/global.scss' as *;

.thrift-tide-btn {
  min-width: 150px;
  border-radius: $radius-sm;
  transition: all $transition-normal;
  padding: 10px 20px;
  min-height: 50px;

  &__rounded {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    min-width: 50px;

    &:hover {
      background-color: lighten($color: $color-primary, $amount: 40%) !important;
    }
  }

  &__neutral {
    padding: 0;
    color: $color-text-primary;
    text-align: left;
    color: $color-secondary;
    min-height: unset;
  }

  &__primary {
    background-color: $color-primary;
    color: $color-text-inverse;
    border: 3px solid $color-primary;

    &:hover {
      background-color: transparent;
      color: $color-text-primary;
    }
  }

  &__secondary {
    border: 3px solid $color-secondary;

    &:hover {
      background-color: transparent;
      color: $color-secondary;
    }
  }

  &__disabled {
    background-color: $color-neutral-medium;
    pointer-events: none;
    border-color: $color-neutral-medium;
  }

  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
