@use '../../styles/global.scss' as *;

.thrift-tide-btn {
  min-width: 150px;
  border-radius: $radius-sm;
  transition: all $transition-normal;
  padding: 10px 20px;
  min-height: 50px;

  &__rounded {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    min-width: 50px;

    &:hover {
      @include themed(
        background-color,
        color-primary,
        lighten($color: $color-primary, $amount: 40%)
      );
    }
  }

  &__neutral {
    padding: 0;
    @include themed(color, color-text-primary, $color-text-primary);
    text-align: left;
    @include themed(color, color-secondary, $color-secondary);
    min-height: unset;
  }

  &__primary {
    @include themed(background-color, color-primary, $color-primary);
    @include themed(color, color-text-inverse, $color-text-inverse);
    border: 3px solid;
    @include themed(border-color, color-primary, $color-primary);

    &:hover {
      background-color: transparent;
      @include themed(color, color-text-primary, $color-text-primary);
    }
  }

  &__secondary {
    border: 3px solid;
    @include themed(border-color, color-secondary, $color-secondary);

    &:hover {
      background-color: transparent;
      @include themed(color, color-secondary, $color-secondary);
    }
  }

  &__disabled {
    background-color: $color-neutral-medium;
    pointer-events: none;
    border-color: $color-neutral-medium;
  }

  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
