@use '../../../styles/tokens' as *;

.category-health {
  @include dashboard-card($radius: $radius-lg, $pad: $spacing-4, $bgCol: #f4f5f7);

  .category-name-row {
    display: flex;
    justify-content: space-between;
  }

  .category-insight-wrapper {
    margin-top: $spacing-4;
  }
}
