@use '../../../styles/tokens.scss' as *;

.budget-split-sheet {
  .sheet-info-block {
    margin-bottom: $spacing-4;
  }

  .bugget-split-bar {
    display: flex;
    @include themed(color, color-bg-card, $color-bg-card);
    font-size: 14px;
    font-weight: 800;
    gap: 2px;

    .budget-bar {
      height: 30px;
      padding: $spacing-1 $spacing-3;
      display: flex;
      align-items: center;
      border-radius: $radius-sm;

      &__needs {
        background-color: $color-needs;
        border-top-left-radius: 999px;
        border-bottom-left-radius: 999px;
      }

      &__wants {
        background-color: $color-wants;
      }

      &__savings {
        background-color: $color-savings;
        border-top-right-radius: 999px;
        border-bottom-right-radius: 999px;
      }
    }
  }

  .percents-editors {
    margin-top: $spacing-5;
    display: flex;
    flex-direction: column;
    gap: $spacing-3;

    .percent-input-line {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .percent-label {
        display: flex;
        gap: $spacing-2;
        align-items: center;

        .bullet {
          height: 12px;
          width: 12px;
          border-radius: 50%;
        }

        .percent-key {
          text-transform: capitalize;
        }
      }

      .percent-btn-group {
        display: flex;
        justify-content: space-between;
        width: 150px;
        height: 50px;
        align-items: center;
        border: 1px solid;
        border-radius: 999px;
        @include themed(border-color, color-primary, $color-primary);

        .percent-btn {
          padding: 0 $spacing-3;
          @include themed(background-color, color-primary, $color-primary);
          height: 100%;

          &__minus {
            border-top-left-radius: 999px;
            border-bottom-left-radius: 999px;
          }

          &__plus {
            border-top-right-radius: 999px;
            border-bottom-right-radius: 999px;
          }
        }
      }
    }
  }
}
