@use '../../../../styles/tokens.scss' as *;

.local-spinner {
  .lds-dual-ring {
    display: inline-block;
    width: 40px;
    height: 40px;

    &:after {
      content: ' ';
      display: block;
      width: 35px;
      height: 35px;
      margin: 1px;
      border-radius: 50%;
      border: 5px solid $color-primary;
      border-color: $color-primary transparent $color-primary transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }

    &__small {
      width: 20px;
      height: 20px;

      &::after {
        width: 20px;
        height: 20px;
      }
    }
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
