@use '../../../styles/tokens' as *;
@use 'sass:color';

.smart-insight {
  display: inline-flex;
  padding: $spacing-2 $spacing-4;
  gap: $spacing-2;
  border-radius: 999px;
  font-size: 14px;
  background-color: color-mix(in srgb, var(--color-primary), transparent 90%);

  &__success {
    background-color: rgba($color-success, 0.1);
  }

  &__warn {
    background-color: rgba($color-warning, 0.1);
  }

  &__info {
    background-color: rgba($eg-1, 0.1);
  }

  .insight-cta {
    display: flex;
  }
}
