@use '../../../styles/tokens' as *;

.smart-insight {
  display: inline-flex;
  padding: $spacing-2 $spacing-4;
  gap: $spacing-2;
  border-radius: 999px;
  font-size: 14px;
  background-color: color-mix(in srgb, var(--color-primary), transparent 90%);

  &__success {
    background-color: color-mix(in srgb, var(--color-success), transparent 90%);
  }

  &__warn {
    background-color: color-mix(in srgb, var(--color-warning), transparent 90%);
  }

  &__info {
    background-color: color-mix(in srgb, var(--color-chart-eg-1), transparent 90%);
  }

  .insight-cta {
    display: flex;
  }
}
