@use '../../styles/global.scss' as *;

.thrift-tide-btn {
  min-width: 150px;
  border-radius: $radius-sm;
  transition: $transition-normal;
  padding: 10px 20px;
  min-height: 50px;

  &__neutral {
    padding: 0;
    color: $color-text-primary;
    text-align: left;
    color: $color-secondary;
    min-height: unset;
  }

  &__primary {
    background-color: $color-primary;
    color: $color-text-inverse;
    border: 3px solid $color-primary;

    &:hover {
      background-color: transparent;
      color: $color-text-primary;
    }
  }

  &__disabled {
    background-color: $color-neutral-medium;
    pointer-events: none;
    border-color: $color-neutral-medium;
  }
}
