.login-page {
    width: 100vw;
    margin: auto;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

    .login-form {
        width: 50%;
        max-width: 600px;
        padding: 100px;
        background: white;
        border-radius: 15px;
        text-align: center;

        .btns-container {
            display: inline-flex;
            width: 100%;
            justify-content: space-between;
            gap: 30px;

            .login-btn {
                height: 60px;
                min-width: 150px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .login-page .login-form {
        padding: 40px;
    }
}

@media screen and (max-width: 700px) {
    .login-page .login-form {
        width: 90%;
    }
}

@media screen and (max-width: 450px) {
    .login-page .login-form {
        width: 95%;
        padding: 20px;

        .btns-container {
            gap: 15px;

            .login-btn {
                height: 60px;
                min-width: 100px;
            }
        }
    }
}