@use '../../styles/global.scss' as *;

.category-page {
  padding: $spacing-5;

  @include mediaDown(md) {
    padding: 0;
  }

  .category-header {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .category-page-header {
    margin-bottom: $spacing-4;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .cat-page-monthpicker {
      min-width: 200px;
    }
  }

  .category-summary-container {
    padding: $spacing-5;
    border-radius: $radius-md;
    box-shadow: $shadow-md;

    @include mediaDown(md) {
      padding: $spacing-4;
    }

    .category-summary-line {
      width: 100%;
      @include grid($templateColumns: repeat(3, 1fr), $columnGap: 20px);

      .category-middle {
        text-align: center;
      }

      .category-last {
        text-align: end;
      }
    }
  }

  .higlights-section {
    @include grid($columnGap: 50px);
    margin: $spacing-5 0;

    @include mediaDown(md) {
      margin: $spacing-4 0;
      column-gap: $spacing-4;
    }

    .top-categories-container {
      grid-area: 1 / 1 / 2 / 4;
      @include dashboard-card(
        $radius: $radius-md,
        $shadow: $shadow-md,
        $pad: $spacing-4 $spacing-5
      );

      @include mediaDown(md) {
        padding: $spacing-4;
      }

      .top-categories-list {
        display: grid;
        gap: 8px;

        .categories-item {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid rgb(238, 238, 238);
          padding: 8px 0px;

          .cat-name {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }
      }
    }
    .insights-container {
      grid-area: 1 / 4 / 2 / 5;
      @include dashboard-card(
        $radius: $radius-md,
        $shadow: $shadow-md,
        $pad: $spacing-4 $spacing-5
      );

      @include mediaDown(md) {
        padding: $spacing-4;
      }
    }
  }

  .transactions-section {
    @include dashboard-card($radius: $radius-md, $shadow: $shadow-md, $pad: $spacing-4 $spacing-5);

    .transaction-line {
      @include grid($templateColumns: 1fr 1fr 1fr 80px, $columnGap: 8px, $rowGap: 8px);

      padding: 8px 0px;
      border-bottom: 1px solid rgb(238, 238, 238);

      .transaction-category {
        display: flex;
        gap: 10px;
      }
    }
  }

  .action-btns {
    .quick-txn-btn {
      display: inline-flex;
      align-items: center;
      gap: 10px;
      width: 200px;
      justify-content: center;
      margin: 20px 0 0 calc(100% - 200px);

      .quick-txn-icon {
        color: $color-text-inverse !important;
        transition: all $transition-normal;
      }

      &:hover .quick-txn-icon {
        color: $color-primary !important;
      }
    }
  }
}
