@use '../../styles/global.scss' as *;

.dashboard-cards {
  @include grid($templateColumns: repeat(3, minmax(0, 1fr)), $columnGap: 50px);

  @include mediaDown(xl) {
    column-gap: $spacing-4;
  }

  @include mediaDown(md) {
    @include grid($templateColumns: 1fr, $templateRows: repeat(3, 1fr), $rowGap: $spacing-4);
  }

  .dashboard-card {
    border: 1px solid $color-neutral-medium;
    border-left: 4px solid transparent;
    border-radius: $radius-md;
    box-shadow: $shadow-md;
    padding: $spacing-4;
    transition:
      border-color $transition-normal,
      box-shadow $transition-fast;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mediaDown(md) {
      padding: 8px;
    }

    .card-title-row {
      display: inline-flex;
      gap: $spacing-3;
      margin-bottom: $spacing-4;

      @include mediaDown(md) {
        gap: 12px;
      }

      .cart-title-icon {
        background-color: aquamarine;
        padding: 5px;
        border-radius: $radius-sm;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include themed(color, color-bg-card, $color-bg-card);
      }

      .card-title-value {
        opacity: 0.7;
      }
    }

    .card-details {
      display: flex;
      width: 100%;
      justify-content: space-between;
      line-height: 2rem;
    }
  }
}
