@use '../../styles/tokens.scss' as *;
@use 'sass:color';

.dashboard-page {
  .hi-header {
    font-size: 22px;
    margin-top: 20px;
  }

  .budget-stats-line {
    display: flex;
    justify-content: space-between;
    margin-top: $spacing-2;
  }

  .smart-insight-section {
    margin-top: $spacing-3;
  }

  .category-cards {
    display: inline-flex;
    // margin-top: 20px;
    width: 100%;
    align-items: center;
    position: relative;

    .category-card {
      padding: $spacing-3;

      &__needs {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background: linear-gradient(
          90deg,
          color-mix(in srgb, var(--needs), transparent 80%) 0%,
          color-mix(in srgb, var(--needs), transparent 60%) 100%
        );

        .category-percent-needs {
          font-weight: bold;
          color: color.scale($color: $color-needs, $lightness: -45%);
        }
      }

      &__wants {
        background: linear-gradient(
          90deg,
          color-mix(in srgb, var(--wants), transparent 80%) 0%,
          color-mix(in srgb, var(--wants), transparent 60%) 100%
        );

        .category-percent-wants {
          font-weight: bold;
          color: $color-wants;
        }
      }

      &__savings {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background: linear-gradient(
          90deg,
          color-mix(in srgb, var(--savings), transparent 80%) 0%,
          color-mix(in srgb, var(--savings), transparent 60%) 100%
        );

        .category-percent-savings {
          font-weight: bold;
          color: color.scale($color: $color-savings, $lightness: -45%);
        }
      }

      .category-title {
        font-size: 12px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: $spacing-1;

        .category-key {
          text-transform: capitalize;
        }
      }
    }

    .progress-bar {
      position: absolute;
      left: 10px;
      width: calc(100% - 20px);
      top: 50px;
    }
  }

  .exp-groups-list {
    @include dashboard-card($radius: $radius-lg, $pad: $spacing-4);
    display: grid;
    gap: $spacing-2;

    &__dark {
      box-shadow: $dark-shadow-md;
    }

    .top-eg-item-header {
      @include grid($templateColumns: 160px auto 100px, $columnGap: 8px);
      width: 100%;
      padding: $spacing-2 0px;
      align-items: center;

      .eg-category {
        margin-left: auto;
        padding: $spacing-1 $spacing-3;
        font-size: 11px;
        border-radius: $radius-lg;
        height: 32px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
      }

      .eg-total {
        text-align: right;
        font-size: 16px;
        font-weight: 800;
      }
    }

    .top-eg-item-content {
      @include grid($templateColumns: 100px auto 50px, $columnGap: 8px);
      border-bottom: 1px solid;
      border-color: color-mix(in srgb, var(--color-neutral), transparent 0%);
      align-items: end;
      padding: $spacing-3 0;

      .date {
        font-size: 12px;
      }

      .amount {
        text-align: end;
        font-weight: 800;
      }

      &:last-child {
        border: unset;
      }
    }
  }
}
