@use '../../styles/tokens.scss' as *;
@use 'sass:color';

.dashboard-page {
  .dashboard-header {
    font-weight: 200;
    display: inline-flex;
    gap: $spacing-2;
    align-items: center;

    .budget-month {
      font-size: 18px;
    }
  }

  .hi-header {
    font-size: 22px;
    margin-top: 20px;
  }

  .budget-stats-line {
    display: flex;
    justify-content: space-between;
    margin-top: $spacing-2;
  }

  .smart-insight-section {
    margin-top: $spacing-3;
  }

  .category-cards {
    display: inline-flex;
    // margin-top: 20px;
    width: 100%;
    align-items: center;
    position: relative;

    .category-card {
      padding: $spacing-3;

      &__needs {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background: linear-gradient(
          90deg,
          color-mix(in srgb, var(--needs), transparent 80%) 0%,
          color-mix(in srgb, var(--needs), transparent 60%) 100%
        );

        .category-percent-needs {
          font-weight: bold;
          color: color.scale($color: $color-needs, $lightness: -45%);
        }
      }

      &__wants {
        background: linear-gradient(
          90deg,
          color-mix(in srgb, var(--wants), transparent 80%) 0%,
          color-mix(in srgb, var(--wants), transparent 60%) 100%
        );

        .category-percent-wants {
          font-weight: bold;
          color: $color-wants;
        }
      }

      &__savings {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background: linear-gradient(
          90deg,
          color-mix(in srgb, var(--savings), transparent 80%) 0%,
          color-mix(in srgb, var(--savings), transparent 60%) 100%
        );

        .category-percent-savings {
          font-weight: bold;
          color: color.scale($color: $color-savings, $lightness: -45%);
        }
      }

      .category-title {
        font-size: 12px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: $spacing-1;

        .category-key {
          text-transform: capitalize;
        }
      }
    }

    .progress-bar {
      position: absolute;
      left: 10px;
      width: calc(100% - 20px);
      top: 50px;
    }
  }

  .exp-groups-list {
    @include dashboard-card($radius: $radius-lg, $pad: $spacing-4);
    display: grid;
    gap: 8px;

    &__dark {
      box-shadow: $dark-shadow-md;
    }

    .top-exp-groups-item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgb(238, 238, 238);
      padding: 8px 0px;

      &:last-child {
        border-bottom: unset;
      }
    }
  }
}
