@use '../../styles/tokens.scss' as *;

.forecast-date-row {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  .forecast-date-label {
    display: inline-flex;
    gap: $spacing-3;
    align-items: center;

    .forecast-icon-wrapper {
      height: 35px;
      width: 35px;
      border-radius: $radius-sm;
      box-shadow: $shadow-sm;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .forecast-date-dayz {
    font-size: 12px;
    opacity: 0.7;
  }
}
