@use '../../styles/tokens' as *;

$main-container-spacing: 0 30px 0 40px;

.main-header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $main-container-spacing;

  @include mediaDown(md) {
    height: auto;
    padding: $spacing-4;
    display: block;
  }

  .row1 {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    align-items: center;
  }

  .row2 {
    width: 230px;
    margin: auto;
  }

  .page-title {
    @include mediaDown(md) {
      font-size: 18px;
      text-align: center;
    }
  }

  .page-title-container {
    display: inline-flex;
    align-items: center;
    gap: 50px;

    @include mediaDown(md) {
      width: 100%;
      justify-content: space-between;
    }

    .page-title {
      @include mediaDown(md) {
        font-size: 18px;
      }
    }

    .page-header-monthpicker {
      width: 220px;
    }
  }
  // .page-user-dropdown {
  //   @include mediaDown(md) {
  //     display: none;
  //   }
  // }
}
