@use '../../../styles/tokens.scss' as *;

.info-block {
  width: 100%;
  min-height: 100px;
  border-radius: $radius-lg;
  background-color: rgba($cat-1, 0.2);
  @include themed(color, color-text-secondary, $color-text-secondary);
  display: flex;
  gap: $spacing-4;
  align-items: center;
  font-size: 14px;
  padding: $spacing-6 $spacing-4;
}
