@use '../../styles/tokens.scss' as *;

.add-income-btn {
  opacity: 0.7;

  .add-income-icon {
    @include themed(fill, color-text-inverse, $color-text-inverse);
    transition: all $transition-normal;
  }

  &:hover .add-income-icon {
    @include themed(fill, color-primary, $color-primary);
  }
}

.amount-line {
  @include grid($templateColumns: 1fr 60%, $columnGap: 40px);
}

.apply-to-field {
  border-radius: $radius-sm;
  border: 1px solid #50505040;
  padding: 12px 16px;
  margin-bottom: 15px;

  .field-legen {
    font-size: 12px;
    padding: 0 5px;
    @include themed(background-color, color-bg-card, $color-bg-card);
  }

  .radio-row {
    display: inline-flex;
    gap: 10px;
    width: 100%;

    .hint {
      margin-left: auto;
      font-size: 12px;
      font-weight: 900;
    }
  }
}

.save-income-btn {
  margin: 20px auto 10px;
  display: block;
}
