@forward 'variables';
@forward 'mixins';
@forward 'styles';

@use 'variables' as *;

:root {
  --color-primary: #{$color-primary};
  --color-primary-dark: #{$color-primary-dark};
  --color-primary-light: #{$color-primary-light};

  --color-secondary: #{$color-secondary};
  --color-secondary-dark: #{$color-secondary-dark};

  --color-bg-main: #{$color-bg-main};
  --color-bg-card: #{$color-bg-card};

  --color-text-primary: #{$color-text-primary};
  --color-text-secondary: #{$color-text-secondary};
  --color-text-inverse: #{$color-text-inverse};

  --color-neutral-light: #{$color-neutral-light};
  --color-neutral: #{$color-neutral};

  --grid: #e6ebef;
  // --color-neutral-grey: #{$color-neutral-grey};

  --needs: #{$needs};
  --needs-light: #{$color-needs-light};
  --wants: #{$wants};
  --wants-light: #{$color-wants-light};
  --savings: #{$savings};
  --savings-light: #{$color-savings-light};

  --success: #{$color-success};
  --success-light: #{$color-success-light};

  --warning: #{$color-warning};
  --warning-light: #{$color-warning-light};

  --error: #{$color-error};
  --error-light: #{$color-error-light};

  --cat-1: #508ac8;
  --cat-2: #f28e2b;
  --cat-3: #6c6cb4;
  --cat-4: #76b7b2;
  --cat-5: #59a14f;
  --cat-6: #edc948;
  --cat-7: #b07aa1;
  --cat-8: #ff9da7;
  --cat-9: #9c755f;
  --cat-10: #e15759;
}

.missing-items {
  opacity: 0.7;
}

.error {
  font-size: 12px;
  color: $color-error;
}

.tt-section {
  margin-top: $spacing-5;
}

.tt-section-header {
  margin: 0 $spacing-2 $spacing-2;
}

.tt-settings-header {
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 $spacing-2 $spacing-2;
}
