// --------- GENERAL COLORS - DARK MODE -------
$emerald-300: #5cf0a8; // primary
$ruby-400: #79c8ff; // secondary
$amber-300: #ffd45b; // accent
$rich-black: #1f282f; // background
$raisin-black: #1e2126; // cards
$anti-flash-300: #ededed; // text / shadows
$cadet-grey: #9ca6b5; // text secondary
$gunmetal: #1c2833; // text inverse
$dark-gunmetal: #21252b; // generic light
$jet: #2a2b2e; // generic medium

$onyx: #0f1416;
$carbon-black: #151b1e;
$alice-blue: #e6eef0;
$mint-700: #2f7f87;
$coral-700: #e4885a;

$strong-cyan: #56bec9;
$soft-periwinkle: #8e86ff;
$sandy-brown: #ffae5c;

@use './variables' with (
  $color-primary: $mint-700,
  $color-secondary: $coral-700,
  $color-accent: $amber-300,

  $color-bg-main: $dark-gunmetal,
  $color-bg-card: $raisin-black,

  $color-text-primary: $alice-blue,
  $color-text-secondary: $cadet-grey,
  $color-text-inverse: $gunmetal,

  $color-neutral-light: $dark-gunmetal,
  $color-neutral: $jet,

  $color-needs: $strong-cyan,
  $color-wants: $soft-periwinkle,
  $color-savings: $sandy-brown
);

// Now build the rest with these values
@use './global';
