@use '../../styles/global.scss' as *;

.user-profile-button {
  display: inline-flex;
  align-items: center;
  gap: $spacing-4;
  margin: auto;
  @include themed(background, color-bg-card, $color-bg-card);
  @include themed(color, color-text-primary, $color-text-primary);
  padding-right: 20px;
  border-radius: 25px;

  .cover-img {
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }
}
