@use '../../styles/tokens.scss' as *;

.insights-page {
  .health-wrapper {
    margin-top: $spacing-3;
  }

  .top-spenders-list {
    @include dashboard-card($radius: $radius-lg, $pad: $spacing-4, $bgCol: #f4f5f7);
    margin-top: $spacing-3;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $spacing-4;

    .spender-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .spender-percent {
      font-size: 14px;
      margin-top: $spacing-2;
    }
  }
}
