@use 'sass:color';
@use '../../../styles/tokens.scss' as *;

.multi-step-container {
  width: 95%;
  height: 95%;
  @include themed(background-color, color-bg-card, $color-bg-card);
  border-radius: $radius-lg;
  padding: $spacing-4;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__light {
    box-shadow: $shadow-md;
  }

  &__dark {
    box-shadow: $dark-shadow-md;
  }

  .step-container {
    margin: $spacing-5 auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 90%;

    .step-header {
      margin-bottom: $spacing-4;
      text-align: center;
    }

    .step-content {
      border-radius: $radius-md;
      padding: 20px;

      @include mediaDown(md) {
        padding: 20px 0;
        line-height: 1.5rem;
      }

      .step-p {
        font-size: 14px;
      }

      .step-mt {
        margin-top: $spacing-6;
      }

      ul {
        list-style: circle;
        margin-left: 30px;
      }

      .onboarding-select {
        width: 400px;
        margin: auto;

        @include mediaDown(md) {
          width: 100%;
        }
      }

      .language-input-container {
        margin-top: $spacing-4;
      }

      .percents-selectors-wrapper {
        margin: $spacing-5 0;

        .budget-slider-row {
          gap: $spacing-5;
        }

        .reset-row {
          display: inline-flex;
          width: 100%;
          justify-content: space-between;
          margin-top: $spacing-5;

          .percents-total {
            padding: 0 10px;
            height: 35px;
            border-radius: $radius-sm;
            font-size: 14px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .start-day-wrapper {
        margin: $spacing-5 0;
      }
    }
  }

  .step-action-buttons {
    margin-top: auto;
    display: flex;
    gap: 15px;
    justify-content: flex-end;

    .onboarding-btn {
      min-width: 100px;
    }

    .skip-btn {
      text-align: center;
    }
  }
}
