@use '../../styles/tokens.scss' as *;

.settings-page {
  display: grid;
  gap: $spacing-6;

  @include mediaDown(md) {
    gap: $spacing-4;
  }

  .settings-btn {
    min-width: 100px;
    min-height: 35px;
    height: fit-content;
    padding: 0;
  }

  .settings-page-section {
    @include dashboard-card($radius: $radius-lg, $pad: $spacing-5 $spacing-6);

    @include mediaDown(md) {
      padding: $spacing-4;
    }

    .settings-selector {
      width: 300px;
    }

    .divider {
      margin: 30px 0;
      color: $color-bg-main;
      opacity: 0.4;
    }
  }
}
