@use '../../styles/tokens.scss' as *;

.main-sidebar {
  width: 300px;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  box-shadow: $shadow-sm;

  @include mediaDown(md) {
    display: none;
  }

  @include mediaDown(xl) {
    width: 200px;
  }

  .logo-container {
    height: 100px;
    width: 100%;
    display: flex;

    .logo {
      margin: auto;
    }
  }
}
