@use '../../../styles/tokens' as *;

.timeline-container {
  height: 65px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-end;
  position: relative;

  .run-out-container {
    width: 100%;

    .run-out {
      position: absolute;
      top: 0;

      &__over {
        right: 0;
        left: unset;
      }
    }
  }

  .timeline-bar {
    position: relative;
    height: 16px;
    border-radius: 999px;
    @include themed(background, color-neutral-light, $color-neutral-light);
    overflow: hidden;

    .elapsed {
      background: var(--needs, #2ecc71);
      height: 100%;
    }

    .marker {
      position: absolute;
      top: 0;
      width: 2px;
      height: 16px;
      background: var(--warning, #f39c12);
      border-radius: 2px;
    }
  }

  .period-bounds {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
}
