@use '../../styles/tokens.scss' as *;
@use 'sass:color';

.type-selector-label {
  font-size: 12px;
}

.type-box-selector {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 20px;

  .type-box {
    display: inline-flex;
    gap: 5px;
    width: 110px;
    height: 45px;
    border-radius: 5px;
    @include themed(border-color, color-neutral, $color-neutral);
    align-items: center;
    padding: 5px;
    justify-content: center;
    cursor: pointer;

    &__needs {
      background-color: $color-needs;
    }

    &__wants {
      background-color: $color-wants;
    }

    &__savings {
      background-color: $color-savings;
    }

    &:hover {
      @include themed(
        background-color,
        color-primary,
        color.scale($color: $color-primary, $lightness: 45%)
      );
      @include themed(color, color-text-secondary, $color-text-secondary);
      @include themed(border-color, color-primary, $color-primary);
    }
  }
}
