@use '../../styles/tokens.scss' as *;

.transaction-line {
  @include grid($templateColumns: 200px 1fr 1fr 80px, $columnGap: 8px, $rowGap: 8px);
  padding: 8px 0px;
  align-items: center;
  justify-items: start;

  @include mediaDown(xl) {
    grid-template-columns: 130px 1fr 1fr 80px;
  }

  @include mediaDown(md) {
    grid-template-columns: 65px 1fr 80px;
  }

  .txn-line-date {
    @include mediaDown(xl) {
      font-size: 12px;
    }
    @include mediaDown(md) {
      font-size: 9px;
    }
  }
}

.txn-cat-row {
  display: inline-flex;
  align-items: center;
  width: 270px;

  @include mediaDown(md) {
    font-size: 9px;
    width: 230px;
  }

  .cat-type-badge {
    margin-left: auto;
    padding: 5px 10px;
    font-size: 11px;
    border-radius: $radius-sm;
  }
}
