@use '../../styles/tokens.scss' as *;

.transaction-row {
  @include grid($templateColumns: 200px 1fr 1fr 100px, $columnGap: 8px, $rowGap: 8px);
  padding: 8px 0px;
  align-items: center;
  justify-items: start;
  @include themed(color, color-text-primary, $color-text-primary);

  @include mediaDown(xl) {
    grid-template-columns: 130px 1fr 1fr 100px;
  }

  @include mediaDown(md) {
    grid-template-columns: 65px 1fr 100px;
  }

  .txn-line-date {
    @include mediaDown(xl) {
      font-size: 12px;
    }
    @include mediaDown(md) {
      font-size: 9px;
    }
  }
}

.txn-eg-row {
  display: inline-flex;
  align-items: center;
  width: 270px;

  @include mediaDown(md) {
    font-size: 9px;
    width: 230px;
  }

  .eg-type-badge {
    margin-left: auto;
    padding: 5px 10px;
    font-size: 11px;
    border-radius: $radius-sm;
    height: $spacing-6;
    width: 60px;
    display: flex;
    /* line-height: 1rem; */
    align-items: center;
    justify-content: center;

    &__needs {
      background-color: color-mix(in srgb, var(--needs), transparent 70%);
    }

    &__wants {
      background-color: color-mix(in srgb, var(--wants), transparent 70%);
    }

    &__savings {
      background-color: color-mix(in srgb, var(--savings), transparent 70%);
    }
  }
}
