@use '../../../styles/tokens' as *;

.smart-insight-card {
  display: flex;
  padding: $spacing-6 $spacing-4;
  gap: $spacing-2;
  border-radius: $radius-lg;
  height: 100%;
  width: 100%;
  font-size: 14px;
  background: linear-gradient(
    90deg,
    color-mix(in srgb, var(--color-primary), transparent 90%) 0%,
    color-mix(in srgb, var(--color-primary), transparent 70%) 100%
  );

  &__success {
    background: linear-gradient(
      90deg,
      color-mix(in srgb, var(--color-success), transparent 90%) 0%,
      color-mix(in srgb, var(--color-success), transparent 70%) 100%
    );
  }

  &__warn {
    background: linear-gradient(
      90deg,
      color-mix(in srgb, var(--color-warning), transparent 90%) 0%,
      color-mix(in srgb, var(--color-warning), transparent 70%) 100%
    );
  }

  &__info {
    background: linear-gradient(
      90deg,
      color-mix(in srgb, var(--color-chart-eg-1), transparent 90%) 0%,
      color-mix(in srgb, var(--color-chart-eg-1), transparent 70%) 100%
    );
  }

  .insight-message {
    // font-size: 18px;
    font-weight: 500;
  }

  .insight-subtext {
    font-size: 12px;
  }

  .insight-cta {
    display: flex;
    gap: $spacing-2;
    margin-top: $spacing-3;
    color: var(--color-text-secondary);
  }
}
