@use '../../styles/tokens.scss' as *;

.kpi-card {
  width: 130px;
  height: 130px;
  border-radius: $radius-sm;
  box-shadow: $shadow-sm;
  border: 1px solid;
  @include themed(border-color, color-neutral, $color-neutral);
  text-align: center;
  padding: 10px;

  @include mediaDown(md) {
    width: 140px;
    height: 110px;
  }

  &__danger {
    border-color: $color-error;
    background-color: rgba($color-error, 0.3);
  }

  &__success {
    border-color: $color-success;
    background-color: rgba($color-success, 0.3);
  }

  &__warn {
    border-color: $color-warning;
    background-color: rgba($color-warning, 0.3);
  }

  .kpi-value {
    font-size: 18px;
    font-weight: $font-weight-bold;
    margin-top: $spacing-4;

    &__danger {
      color: $color-error;
    }

    &__success {
      color: $color-success;
    }

    &__warn {
      color: $color-warning;
    }
  }
}
