@use '../../../styles/tokens.scss' as *;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-1;
  width: 100%;
}

.input-label {
  font-size: 12px;
  color: var(--color-text-secondary);
  margin-left: $spacing-3;
}

.input-row {
  width: 100%;
  position: relative;

  .input-prefix {
    position: absolute;
    left: 14px;
    top: 14px;
    font-size: 18px;
  }

  .input-field {
    width: 100%;
    padding: $spacing-4 $spacing-5;
    border: 1px solid;
    background-color: var(--color-bg-muted);
    border-color: var(--color-border-subtle);
    color: var(--color-text-primary);
    border-radius: $radius-lg;
    font-size: 1rem;
    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;

    &:focus {
      outline: none;
      border-color: var(--color-primary);
      box-shadow: var(--shadow-focus);
    }

    &.input-error {
      border-color: var(--color-error);
    }

    &.readOnly {
      border-color: var(--color-bg-main);
      background: transparent;
      pointer-events: none;
      box-shadow: var(--shadow-focus);

      &:focus {
        border-color: var(--color-bg-main);
        box-shadow: var(--shadow-focus-strong);
      }
    }

    &.disabled {
      color: var(--color-text-secondary);
      background-color: var(--color-bg-hover);
      pointer-events: none;
    }
  }

  .input-suffix {
    position: absolute;
    right: 14px;
    top: 14px;
  }

  .input-with-prefix {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.input-error-message {
  color: var(--color-error);
  font-size: 0.75rem;
}
