@use '../../../styles/tokens.scss' as *;
@use 'sass:color';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-1;
  width: 100%;
}

.input-label {
  font-size: 12px;
  color: $color-text-secondary;
  margin-left: $spacing-3;
}

.input-row {
  width: 100%;
  position: relative;

  .input-prefix {
    position: absolute;
    left: 14px;
    top: 14px;
    font-size: 18px;
  }

  .input-field {
    width: 100%;
    padding: $spacing-4 $spacing-5;
    border: 1px solid;
    @include themed(background-color, color-neutral-light, $color-neutral-light);
    @include themed(border-color, color-neutral, $color-neutral);
    @include themed(color, color-text-primary, $color-text-primary);
    border-radius: $radius-lg;
    font-size: 1rem;
    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;

    &:focus {
      outline: none;
      @include themed(border-color, color-primary, $color-primary);
      box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.15);
    }

    &.input-error {
      @include themed(border-color, color-error, $color-error);
    }

    &.readOnly {
      @include themed(border-color, color-bg-main, $color-bg-main);
      background: transparent;
      pointer-events: none;
      box-shadow: 0 0 0 2px rgba($color-bg-main, 0.15);

      &:focus {
        @include themed(border-color, color-bg-main, $color-bg-main);
        box-shadow: 0 0 0 2px rgba($color-bg-main, 0.75);
      }
    }

    &.disabled {
      @include themed(color, color-text-secondary, $color-text-secondary);
      background-color: color.scale($color-bg-main, $lightness: 3%);
      pointer-events: none;
    }
  }

  .input-suffix {
    position: absolute;
    right: 14px;
    top: 14px;
  }

  .input-with-prefix {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.input-error-message {
  @include themed(color, color-error, $color-error);
  font-size: 0.75rem;
}
