@use '../../../styles/tokens' as *;

.apply-row {
  border-top: 1px solid;
  border-color: color-mix(in srgb, var(--color-border-subtle), transparent 30%);
  padding-top: $spacing-4;
  margin-top: $spacing-4;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: opacity $transition-normal;
  opacity: 1;

  &.row-disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  .apply-label {
    display: flex;
    gap: $spacing-3;
    align-items: center;
  }

  .apply-options {
    display: flex;
    background-color: var(--color-bg-muted);
    border-radius: 999px;
    overflow: visible;
    border: 1px solid;
    border-color: var(--color-border-subtle);

    .option-btn {
      color: var(--color-text-secondary);
      padding: $spacing-3 $spacing-4;
      border-radius: 999px;
      font-size: 14px;
      font-weight: 700;
      transition:
        background-color $transition-normal,
        color $transition-normal,
        margin $transition-normal,
        padding $transition-normal;

      position: relative;
      z-index: 1;

      &.selected {
        z-index: 2;
        // visually larger
        padding: calc(#{$spacing-3} + 2px) calc(#{$spacing-4} + 4px);

        // pull outside parent
        margin: -2px;
        box-shadow: var(--shadow-elevation-1);
        background-color: var(--color-coral);
        color: var(--color-bg-elevated);

        &.disabled {
          background-color: var(--color-text-secondary);
        }
      }
    }
  }
}
