@use '../../styles/tokens.scss' as *;

.add-txn-btn {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  font-weight: bold;
  width: 100%;
  justify-content: center;

  .add-txn-icon {
    @include themed(fill, color-text-inverse, $color-text-inverse);
    transition: all $transition-normal;
  }

  &:hover .add-txn-icon {
    @include themed(fill, color-primary, $color-primary);
  }
}

.amount-line {
  @include grid($templateColumns: 1fr 60%, $columnGap: 40px);
}

.save-txn-btn {
  margin: 20px auto 10px;
  display: block;
}
