@use '../../../../styles/tokens' as *;

.user-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 32px;

  .cover-img {
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    @include themed(background-color, color-bg-card, $color-bg-card);
  }
}
