@use '../../../styles/tokens.scss' as *;

.currency-selectors {
  display: flex;
  flex-direction: column;
  gap: $spacing-3;
  align-items: center;

  .currency-block {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
    padding: $spacing-3 $spacing-4;
    width: 250px;
    @include themed(background, color-neutral, $color-neutral);
    border-radius: 999px;

    &.active {
      background: rgba($color-primary, 0.3);
      transition: background $transition-normal;
    }

    .currency-details {
      display: flex;
      gap: $spacing-3;
      align-items: center;

      .flag {
        font-size: 24px;
      }
    }
  }
}
