@use '../../../styles/tokens.scss' as *;

.setting-container {
  &__bg {
    @include dashboard-card($pad: $spacing-4);
    width: 100%;
  }

  .setting-label-row {
    display: inline-flex;
    gap: $spacing-6;
    margin-bottom: $spacing-5;

    .setting-label {
      font-size: 14px;
      font-weight: 600;
    }
  }

  .setting-body {
    width: 80%;
    margin: auto;

    @include mediaDown(md) {
      width: 100%;
    }
  }

  .settings-action-btns {
    margin: $spacing-6 auto 0;
    display: flex;
    gap: $spacing-5;
    justify-content: flex-start;
  }
}
