@use '../../../styles/tokens.scss' as *;

.bottom-nav {
  flex: 0 0 auto;
  position: fixed;
  z-index: 50;
  bottom: 0;
  left: 0;
  right: 0;

  height: var(--nav-h, 72px);
  padding-bottom: env(safe-area-inset-bottom);
  border-top: 1px solid;
  @include themed(border-color, color-neutral, $color-neutral);
  @include themed(background, color-bg-card, $color-bg-card);

  display: grid;
  grid-template-columns: 1fr 1fr auto 1fr 1fr;
  border-top-left-radius: $radius-lg;
  border-top-right-radius: $radius-lg;

  .open-drawer-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .open-drawer-btn {
      width: 100%;
    }
  }

  .fab-space {
    width: 100px;

    .fab-wrapper {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 10px;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include themed(background, color-bg-main, $color-bg-main);
      padding: 10px;

      .fab {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        @include themed(background, color-secondary, $color-secondary);
      }
    }
  }

  .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__insights {
      grid-area: 1 / 4 / 2 / 5;
    }

    &__settings {
      grid-area: 1 / 5 / 2 / 6;
    }

    &::after {
      height: 0;
    }

    .nav-link-title {
      font-size: 10px;
    }
  }
}
