@use '../../../styles/tokens' as *;

.expense-form {
  .expense-input-group {
    margin-top: $spacing-4;
    position: relative;

    .expense-input-label {
      display: block;
      margin: 0 0 $spacing-1 $spacing-3;
      font-size: 12px;
      @include themed(color, color-text-secondary, $color-text-secondary);
    }

    .expense-chips {
      display: flex;
      flex-wrap: wrap;
      gap: $spacing-2;

      .chip {
        padding: $spacing-3 $spacing-4;
        border: 1px solid;
        font-weight: 500;
        @include themed(background-color, color-neutral-light, $color-neutral-light);
        @include themed(border-color, color-neutral, $color-neutral);
        @include themed(color, color-text-secondary, $color-text-secondary);
        border-radius: 999px;
        display: flex;
        gap: $spacing-1;
        align-items: center;

        &.active {
          font-weight: 700;

          @include themed(background-color, color-primary, $color-primary);
          @include themed(border-color, color-primary, $color-primary);
          @include themed(color, color-text-inverse, $color-text-inverse);
        }

        .chip-label {
          white-space: nowrap;
        }
      }

      &.exp-group-chips {
        display: flex;
        flex-wrap: nowrap;
        gap: 8px;

        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch; // nicer iOS momentum
        scroll-snap-type: x proximity; // optional

        padding-right: 24px; // space so last chip isn't fully under the fade

        // optional: hide scrollbar
        scrollbar-width: none; // firefox
        &::-webkit-scrollbar {
          display: none; // webkit
        }
      }
    }

    &.exp-group-chips-group::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 28px;
      pointer-events: none;

      // match your background (or themed variable)
      background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }
  }

  .note-input {
    margin-top: $spacing-4;
  }
}
