@use '../../../styles/tokens' as *;

.app-header {
  height: 44px;
  min-height: 44px;
  width: 100%;
  @include grid($templateColumns: 1fr auto 1fr, $columnGap: 8px);
  padding: 0 $spacing-4;

  .app-header-container {
    height: 100%;
    display: flex;
    align-items: center;

    &__left {
      justify-content: flex-start;

      .back-btn {
        display: flex;
        gap: $spacing-2;
        align-items: center;

        .back-btn-text {
          @include themed(color, color-primary, $color-primary);
          font-weight: 600;
          font-size: 16px;
        }
      }
    }

    &__right {
      justify-content: flex-end;
    }

    .page-title {
      font-size: 18px;
      font-weight: 800;
    }
  }
}
