@use '../../styles/global.scss' as *;

.checkbox-input {
  display: flex;
  align-items: center;
  gap: 8px;

  .form-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid $color-neutral-medium;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    transition: all $transition-fast;

    &:checked {
      @include themed(background-color, color-primary, $color-primary);
      @include themed(border-color, color-primary, $color-primary);
    }

    /* Custom swish/checkmark */
    &:checked::after {
      content: '';
      position: absolute;
      left: 6px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .checkbox-label {
    user-select: none;
    font-size: 14px;
    line-height: 1.25rem;
    color: $color-neutral-dark;
  }
}
