@use '../../styles/tokens.scss' as *;

.checkbox-input {
  display: flex;
  align-items: center;
  gap: 8px;

  &__switch {
    .checkbox-label {
      cursor: pointer;
    }
  }

  .form-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid $color-neutral-medium;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    transition: all $transition-fast;

    &:checked {
      @include themed(background-color, color-secondary, $color-secondary);
      @include themed(border-color, color-secondary, $color-secondary);
    }

    /* Custom swish/checkmark */
    &:checked::after {
      content: '';
      position: absolute;
      left: 6px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    &__switch {
      position: relative;
      appearance: none;
      width: 74px;
      height: 34px;
      border-radius: 999px;
      @include themed(background-color, color-bg-main, $color-bg-main);
      outline: none;
      transition: background-color 150ms ease;
      cursor: pointer;

      /* thumb */
      &::after {
        content: '';
        position: absolute;
        top: 3px;
        left: 6px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        @include themed(background-color, color-secondary, $color-secondary);
        transition: transform 150ms ease;
      }

      &:checked {
        @include themed(background-color, color-bg-main, $color-bg-main);
        @include themed(border-color, color-bg-main, $color-bg-main);
        // background: var(--switch-on, #22c55e);
      }
      &:checked::after {
        transform: translateX(36px);
        top: 3px;
        width: 24px;
        height: 24px;
        @include themed(border-color, color-secondary, $color-secondary);
      }
      &:focus-visible {
        box-shadow: 0 0 0 3px var(--switch-ring, rgba(59, 130, 246, 0.5));
      }
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .checkbox-label {
    user-select: none;
    font-size: 14px;
    line-height: 1.25rem;
    color: $color-neutral-dark;
  }
}
