// @import './../../styles/mixins';
@use './../../styles/global.scss' as *;

$sub-color: grey;

.group {
  position: relative;
  margin-bottom: 15px;

  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 16px;
    padding: 10px 10px 10px 15px;
    display: block;
    width: 100%;
    border: none;
    border-radius: $radius-sm;
    border: 1px solid $color-neutral-medium;
    // margin-bottom: 25px;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      // @include shrinkLabel();
    }
  }

  .form-input-prefix {
    position: absolute;
    left: 10px;
    top: 36px;
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .input-max-value {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 10px;
    opacity: 0.6;
  }

  .form-input-label {
    // color: $sub-color;
    font-size: 12px;
    // font-weight: normal;
    // position: absolute;
    pointer-events: none;

    // left: 5px;
    // top: 10px;
    // transition: 300ms ease all;

    // &.shrink {
    //   @include shrinkLabel();
    // }
  }

  .field-error {
    font-size: 9px;
    color: $color-error;
  }
}

// .form-input:focus ~ .form-input-label,
// .form-input:not(:placeholder-shown) ~ .form-input-label {
//   @include shrinkLabel();
// }
