@use '../../styles/tokens.scss' as *;

.bucket-page {
  padding: $spacing-5;

  @include mediaDown(md) {
    padding: 0;
  }

  .bucket-page-header {
    margin-bottom: $spacing-4;
    display: inline-flex;
    width: 100%;
    align-items: center;
    gap: $spacing-3;

    .bucket-icon-wrapper {
      display: flex;
      width: 35px;
      height: 35px;
      background: aliceblue;
      align-items: center;
      justify-content: center;
      border-radius: $radius-sm;
      box-shadow: $shadow-md;
    }
  }

  .bucket-page-grid {
    @include grid(
      $templateColumns: repeat(2, 1fr),
      $templateRows: repeat(4, auto),
      $columnGap: $spacing-6,
      $rowGap: $spacing-6
    );

    @include mediaDown(xl) {
      column-gap: $spacing-5;
      row-gap: $spacing-5;
    }

    @include mediaDown(md) {
      @include grid(
        $templateColumns: 1fr,
        $templateRows: repeat(5, auto),
        $columnGap: $spacing-4,
        $rowGap: $spacing-4
      );
    }

    .bucket-summary-section,
    .top-categories-section,
    .bucket-chart-section,
    .bucket-insights-section,
    .bucket-transactions-section {
      @include dashboard-card($radius: $radius-lg, $pad: $spacing-5 $spacing-6);

      @include mediaDown(md) {
        padding: $spacing-4;
      }
    }

    .bucket-summary-section {
      grid-area: 1 / 1 / 2 / 3;

      @include mediaDown(md) {
        grid-area: 1 / 1 / 2 / 2;
      }

      .bucket-summary-line {
        width: 100%;
        @include grid($templateColumns: repeat(3, 1fr), $columnGap: 20px);

        .bucket-middle {
          text-align: center;
        }

        .bucket-last {
          text-align: end;
        }
      }

      .cat-summary-badges {
        margin-top: $spacing-4;
      }
    }

    .top-categories-section {
      grid-area: 2 / 1 / 3 / 2;

      @include mediaDown(md) {
        grid-area: 2 / 1 / 3 / 2;
      }

      .top-categories-list {
        display: grid;
        gap: 8px;

        .categories-item {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid rgb(238, 238, 238);
          padding: 8px 0px;

          &:last-child {
            border-bottom: unset;
          }
        }
      }
    }

    .bucket-chart-section {
      grid-area: 2 / 2 / 3 / 3;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mediaDown(md) {
        grid-area: 3 / 1 / 4 / 2;
      }
    }

    .bucket-insights-section {
      grid-area: 3 / 1 / 4 / 3;

      @include mediaDown(md) {
        grid-area: 4 / 1 / 5 / 2;
      }
    }

    .bucket-transactions-section {
      grid-area: 4 / 1 / 5 / 3;
      // @include themed(color, color-text-primary, $color-text-primary);

      @include mediaDown(md) {
        grid-area: 5 / 1 / 6 / 2;
      }
    }
  }
}
