@import "./styles/variables";

body {
	background-image: linear-gradient(135deg, #afece7 10%, #829a98 67%);
}

a {
	color: black;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $secondary-color;
	pointer-events: none;
}

p {
	pointer-events: none;
}

// Scrollbar
::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 15px;
}

::-webkit-scrollbar-thumb {
	background-color: $secondary-color;
	border-radius: 15px;

	&:hover {
		cursor: pointer;
	}
}

// Button underlined
.underlined-btn {
	cursor: pointer;
	font-family: unset;
	font-weight: 700;

	&:hover {
		text-decoration: underline;
	}
}


// Modal styling
.modal-overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 4;
	opacity: 0;
	pointer-events: none;

	.modal-container {
		display: inline-block;
		height: 100%;
		width: 100%;
		vertical-align: middle;
		position: relative;
	}
}

.modal-content {
	position: fixed;
	height: 100px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	background: white;
	border-radius: 15px;
	box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.4);

	header {
		padding: 20px;
		text-align: center;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		background-color: $secondary-color;

		.modal-header {
			color: white;
		}
	}

	.modal-body {
		padding: 20px;
		overflow: hidden;

		.amount-field {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 100%;

			.modal-input {
				margin: 0 !important;
			}
		}

		.modal-input {
			width: 200px;
			margin: auto;
		}

		.radio-container {
			display: flex;
			gap: 20px;
			justify-content: center;
			padding: 15px;

			.radio-box {
				background-color: #177e8929;
				border-radius: 15px;
				height: 75px;
				width: 95px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 0.8em;
				color: black;
				font-weight: bold;
				cursor: pointer;
				transition: all 0.1s ease-in-out			}

			.transaction-radio {
				-webkit-appearance: none;
				-moz-appearance: none;
				-ms-appearance: none;
				-o-appearance: none;
				appearance: none;

				&:checked + .radio-box {
					background-color: #177e89;
					color: white;
				}
			}
		}

		.submit-btn {
			text-align: center;
		}
	}
}

.width-full {
	opacity: 1;
	pointer-events: visible;

	.modal-container .modal-content {
		height: fit-content;
		width: 600px;
		transition: all 0.3s ease-in-out;
	}
}

// Dashboard nav links
.active-link {
	color: $primary-color;
}

// Dashboard grid area
.regular-dashboard {
	grid-area: 1 / 2 / 7 / 7;
}

// Currency
.currency {
	font-weight: 700;
	pointer-events: none;
}
