@use './styles/tokens.scss' as *;

.mobile-none {
  @include mediaDown(md) {
    display: none;
  }
}

// .card-h2 {
//   @include mediaDown(md) {
//     font-size: 18px;
//   }
// }

.card-header {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: $spacing-3;
}
