.transaction-box {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 7px;
	border-bottom: 1px solid rgb(255 255 255 / 31%);
	padding-bottom: 7px;

	.date-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: fit-content;

		.date-span {
			font-size: 0.8em;
			font-weight: 500;
		}

		.time-span {
			font-size: 0.7em;
			font-weight: 500;
		}
	}

	.category-text {
		font-weight: 600;
	}

	.income {
		color: #4cbf4c;
	}

	.expense {
		color: #ff5555;
	}
}

@media screen and (max-width: 1000px) {
	.transaction-box {
		flex-direction: column-reverse;
		gap: 10px;
	}
}

@media screen and (max-width: 700px) {
	.transaction-box {
		flex-direction: row;
	}
}
