.category-header {
    text-align: center;
    margin: 10px 0 20px;
}

.category-transactions {
    height: calc(100% - 65px);
    overflow: auto;
    padding: 0 20px 20px;
}

@media screen and (max-width: 700px) {
	.category-transactions {
        padding: 0 10px 0 10px;
        width: 300px;
        margin: auto;
    }
}