.info-container {
	height: 100%;
	display: flex;
	width: 100%;
	justify-content: space-between;

	.income-container {
		height: 100%;
		width: 30%;
        min-width: 350px;

		.incomes-list {
			overflow: auto;
			height: 100%;
            padding-right: 20px;
		}
	}
}

.other-fin-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
    .fin-status-header {
        position: relative;
        text-align: center;
        width: 150px;
        margin: 0 0 20px;
    
        &::after {
            content: attr(name);
            position: absolute;
            font-size: 0.5em;
            font-weight: 100;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.transaction-btns {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    
    .transaction-btn {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        font-size: 1em;
        font-weight: 900;
        color: white;
        transition: all 0.3s ease-in-out;
    }

    .add-income-btn {
        background-color: #4cbf4c;
        border: 2px solid #4cbf4c;

        &:hover {
            background-color: white;
            color: #4cbf4c;
        }
    }

    .add-transaction-btn {
        background-color: #ff5555;
        border: 2px solid #ff5555;

        &:hover {
            background-color: white;
            color: #ff5555;
        }
    }
}

