.financial-info {
    padding: 20px;
    height: 100%;
    overflow: hidden;
    display: flex;

    .income-container {
        height: 100%;
        padding-right: 20px;
        width: 30%;
        
        .incomes-list {
            overflow: auto;
            height: 100%;

        }
    }
}