.mobile-view {
	display: none;
}

@media screen and (max-width: 700px) {
	.dashboard-info,
	.needs-box,
	.wants-box,
	.save-box {
		display: none;
	}

	.mobile-view {
		display: block;
		grid-area: 2 / 1 / 7 / 7;
		position: relative;
	}
}
