@use '../../../styles/tokens' as *;

.buckets-health {
  .buckets-health-line {
    display: flex;
    gap: $spacing-3;
    flex-wrap: wrap;

    .health-info {
      display: flex;
      align-items: center;
      gap: $spacing-2;
      @include themed(color, color-warning, $color-warning);
      font-weight: 500;
      font-size: 14px;

      .bullet {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        @include themed(background-color, color-warning, $color-warning);
      }

      &.healthy-info {
        @include themed(color, color-success, $color-success);

        .bullet {
          @include themed(background-color, color-success, $color-success);
        }
      }

      .open-details-btn {
        display: flex;

        .is-open {
          transform: rotate(180deg);
        }
      }
    }
  }

  .health-details-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height $transition-normal;
    margin-top: $spacing-2;

    .health-details-contentInner {
      display: flex;
      flex-direction: column;
      gap: $spacing-2;
    }
  }
}
