@use '../../styles/tokens.scss' as *;

.category-row {
  display: inline-flex;
  align-items: center;
  gap: $spacing-4;

  .category-icon-wrapper {
    @include flex();
    width: 28px;
    height: 28px;
    @include themed(background-color, color-neutral, $color-neutral);
    border-radius: $radius-sm;
    box-shadow: $shadow-sm;
  }

  .category-label-wrapper {
    display: flex;
    flex-direction: column;

    .category-label {
      font-weight: bold;
      font-size: 14px;
    }

    .note {
      font-size: 11px;
    }
  }
}
