@use '../../styles/tokens.scss' as *;

.category-row {
  display: inline-flex;
  align-items: center;
  gap: $spacing-4;

  .category-icon-wrapper {
    @include flex();
    width: 35px;
    height: 35px;
    @include themed(background-color, color-neutral, $color-neutral);
    border-radius: $radius-sm;
    box-shadow: $shadow-sm;

    @include mediaDown(md) {
      width: 28px;
      height: 28px;
    }
  }

  .category-label {
    font-weight: bold;

    @include mediaDown(md) {
      font-size: 14px;
    }
  }
}
